@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    a{
        text-decoration: none;
    }
}

.Container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

footer{

    width:100%;
    height: 365px;
    top: 5263px;
    gap: 0px;
    opacity: 0px;
    background: #0B7572;
    margin-top: 160px;
}
#se{
    width:100%;
    height: 365px;
    top: 5263px;
    gap: 0px;
    opacity: 0px;
    background: #0B7572;
    margin-top: 160px;
}
.fotter-lyout{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    padding-top: 50px;
      .logo{
        margin-top: -200px;
        margin-left: -250px;
        h1{
            font-family: Familjen Grotesk;
            font-size: 60px;
            font-weight: 500;
            line-height: 90px;
            letter-spacing: 0.16em;
            text-align: left;
            width: 176px;
            height: 90px;
            top: 5322px;
            color: #fff;
            left: 95px;
            gap: 0px;
            opacity: 0px;
            padding-top: 60px;

        }
      }
      .items{
        
        p{
            font-family: Exo 2;
            font-size: 13px;
            font-weight: 600;
            line-height: 19.5px;
            letter-spacing: 0.16em;
            text-align: center;
            color: #fff;
            margin-bottom: 15px;
            width: 133px;
            height: 30px;
            top: 5417px;
            left: 405px;
            gap: 0px;
            opacity: 0px;

        }
      }
      .social-media{
        display: flex;
        gap: 25px;
        justify-content: center;
        align-items: center;
        // margin-top: 80px;
        a{
            text-decoration: none;
            color: #fff;
            margin-left: 20px;
        }
        svg{
            font-size:32px;
        }
        p{
            padding-top: 25px;
            font-family: Exo 2;
            font-size: 13px;
            font-weight: 600;
            line-height: 19.5px;
            text-align: left;
            color: #fff;
        }
        button{
            width: 271px;
            height: 42px;
            top: 5462px;
            left: 935px;
            gap: 0px;
            opacity: 0px;
            width: 271px;
            height: 42px;
            top: 5462px;
            left: 935px;
            gap: 0px;
            border: 1px;
            opacity: 0px;
            background: #FF9619;
            border: 1px solid #FF9619;
            color: #fff;
            margin-top: 40px;
        }
      }
    
}
#title{
    padding-top:50px;
    text-align: center;
    color: #fff;
    font-family: Exo 2;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.16em;
    text-align: center;

  }